
//
// Project
//
.projects {
  list-style: none;
  margin: 0 0 2em;
  padding: 0;

  &:hover img {
    @include contentEnter90(500ms);
  }
}

.project {
  header {
    margin: 2em 0 4em;
  }

  .project--metadata {
    margin: 0 0 2em;
  }

  .project--casestudy {

  }
}

.project--photo {
  display: inline-block;
  position: relative;
  max-width: 32em;
  width: 100%;
}

.project--photo a,
.project--photo a:active,
.project--photo a:focus,
.project--photo a:hover,
.project--photo a:link,
.project--photo a:visited {
  color: $color--black;
}

.project--photo--source {
  align-items: center;

  background-position: top left;
  background-size: contain;
  background-repeat: no-repeat;

  display: flex;

  height: 32em;
  margin: 0;
  padding: 0;
  position: relative;
  width: 32em;

  .project--photo--overlay {
    height: 100%;
    left: 0;
    opacity: 0;
    position: absolute;
    top: 0;
    width: 100%;
    z-index: 1;

    @include contentLeave90(500ms);
  }

  img {
    margin: auto;
    z-index: 2
  }
}

.project--type {
  font-size: 0.8125em;
  position: absolute;
  bottom: 0;
  right: -26px;
  -webkit-writing-mode: vertical-lr;
  // display: block;
  // text-align: right;
  // // transform: rotate(90deg) translateY(-90px) translateX(75px);
  // transform: rotate(90deg);
  // transform-origin: center;
}

.project--title,
a.project--title,
a.project--title:active,
a.project--title:focus,
a.project--title:hover,
a.project--title:link,
a.project--title:visited {
  color: $color--black;
  display: inline-block;
  font-size: 1.3125em;
  font-weight: 600;
  font-family: $font--sans;
  margin-top: 0.8125em;
  text-decoration: none;
}

.project--description {
  max-width: 30em;
}


//
//
//
.transmission {
  align-items: center;
  display: flex;
  justify-content: flex-start;
  flex-direction: row;
  margin: 1.5em 0 2em;
  width: 100%;

  a,
  a:active,
  a:focus,
  a:hover,
  a:link,
  a:visited {
    color: $color--black;
    font-family: $font--sans;
    font-size: 0.75em;
    font-weight: 500;
    text-decoration: none;
  }

  .mark {
    display: inline-block;
    flex: 0 0;
    flex-basis: 50%;
  }

  .proverb {
    margin-left: auto;
    text-align: right;

    div {
      background-color: #1A1A1A;
      display: inline-block;
      margin: 0 0 0 -7px;
      height: 24px;
      width: 7px;

      &:first-child {
        margin-right: 14px;
      }

      &:last-child {
        margin-left: 56px;
      }
    }
  }
}


.caret {
  width: 0;
  height: 0;

  display: inline-block;
  vertical-align: top;
  margin: 4px 4px 0 0;

  &.caret--down {
    border-top: none;
    border-left: 4px solid transparent;
    border-right: 4px solid transparent;
    border-top: 4px solid #212121;
  }

  &.caret--up {
    border-top: none;
    border-left: 4px solid transparent;
    border-right: 4px solid transparent;
    border-bottom: 4px solid #212121;
  }

  &.caret--left {
    border-left: none;
    border-top: 4px solid transparent;
    border-bottom: 4px solid transparent;
    border-right: 4px solid #212121;
  }

  &.caret--right {
    border-right: none;
    border-top: 4px solid transparent;
    border-bottom: 4px solid transparent;
    border-left: 4px solid #212121;
  }
}


//
// siteFooter
//
.siteFooter {
  margin: 8em 0 4em;
}


//
//
//
.container-front {
  header {
    margin: 4em 0 4em;
  }

  .front--projects {
    margin: 0 0 4em;
  }

  .front--cta {
    margin: 0;
  }
}


//
// Process
//
.kaizen {
  float: right;
  margin: -2em 0 0;
  opacity: 0.15;
  width: 2em;
}
