//
// _table.scss
//
// @description
//    v3.0.3 | MIT License | github.com/necolas/normalize.css
//
// @overview
//    This stylesheet is written in SASS(1) and compiles all of the styles
//    we use throughout the site.
//
// @see (1) http://sass-lang.com/documentation/file.SASS_REFERENCE.html
//

table {
  width: 100%;

  tbody {

    tr {

      td {
        font-size: 0.75em;
        font-weight: 300;
      }
    }

  }

}
