//
// _typography.scss
//
// @description
//    v3.0.3 | MIT License | github.com/necolas/normalize.css
//
// @overview
//    This stylesheet is written in SASS(1) and compiles all of the styles
//    we use throughout the site.
//
// @see (1) http://sass-lang.com/documentation/file.SASS_REFERENCE.html
//


//
// Basic Typographic Settings
//
h1,
h2,
h3,
h4,
h5,
h6 {
    font-size: 1em;
    font-weight: normal;
    margin: 0;
    padding: 0;
    line-height: 1.15;
}

h1 {
  font-family: $font--sans;
  font-size: 2em;
  font-weight: 500;
  margin: 0 0 0.5em;
}

h2 {
  font-family: $font--sans;
  font-size: 1em;
  font-weight: 500;
  margin: 0 0 0.5em;
}

p {
    font-size: 0.875em;
    font-weight: 300;
    margin: 0 0 1em;

    &.inline {
      display: inline-block;
    }
}

.lead {
  p {
    font-size: 1.125em;
  }
}

ul, ol {
    text-align: left;
    li {
        font-size: 1rem;
        font-weight: normal;
        text-align: left;
    }
}

a,
a:active,
a:hover,
a:link,
a:visited {
    color: #0123e1;
    text-decoration: underline;
}

a:hover {
    text-decoration: none;
}

a.button,
a.button:active,
a.button:focus,
a.button:hover,
a.button:link,
a.button:visited {
  background-color: $color--gold;
  color: #FFFFFF;
  display: inline-block;
  font-family: $font--sans;
  font-size: 1em;
  font-weight: 500;
  margin: 1em auto 2em;
  padding: 1em 3em;
  position: relative;
  text-align: center;
  text-decoration: none;
}

a.button:active {
  top: 1px;
}



.align-left {
  text-align: left;
}

.align-center {
  text-align: center;
}

.align-right {
  text-align: right;
}
