<div data-ng-include="'/templates/headerFront--view.html'"></div>

<main class="container-fluid container-enter container-front">

  <article class="front">
    <header>
      <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
          <h1>
            Hello there
          </h1>
        </div>
      </div>
      <div class="row lead">
        <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
          <p>
            I'm Joshua Powell. I help organizations design user experiences that
            enable people to connect with the data, devices, and other humans.
          </p>
          <p>
            I currently lead product design and engineering at Viable. At Viable
            I've created an open source location based API. I've helped over
            40 organizations create products, platforms, and systems that make
            their teams more efficient, create new opportunities, and are turned
            into new revenue streams.
          </p>
        </div>
      </div>
    </header>

    <section class="front--projects">
      <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
          <h1>
            Current -
          </h1>
        </div>
      </div>
      <div class="row">
        <div data-ng-repeat="project in page.current.features track by $index"
             class="projects col-xs-12 col-sm-6 col-md-3 col-lg-3">
          <h2 class="project--title">
            {{ project.properties.name }}
          </h2>
          <p class="project--description"
             data-ng-bind-html="project.properties.description">
          </p>
        </div>
      </div>
    </section>

    <section class="front--projects">
      <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
          <h1>
            Recent -
          </h1>
        </div>
      </div>
      <div class="row">
        <div data-ng-repeat="project in page.projects.features track by $index"
             class="projects col-xs-12 col-sm-4 col-md-4 col-lg-3">
          <a href="{{ project.properties.link }}"
             class="project--photo">
             <img data-ng-src="{{ project.properties.image }}" alt="" title=""
                  width="100%" />
          </a>
          <h2>
            <a href="{{ project.properties.link }}"
               class="project--title">
              {{ project.properties.name }}
            </a>
          </h2>
          <p class="project--description">
            {{ project.properties.description }}
          </p>
        </div>
      </div>
    </section>

    <section class="front--projects">
      <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4">
          <h1>
            Dream Projects -
          </h1>
        </div>
      </div>
      <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
          <p>
            I love to help people design user experiences around data, but I'd
            jump at the chance to work on:
          </p>
        </div>
      </div>
      <div class="row">
      <div data-ng-repeat="project in page.dream.features track by $index"
      <div class="projects col-xs-12 col-sm-12 col-md-3 col-lg-3">
        <h2 class="project--title">
          {{ project.properties.name }}
        </h2>
        <p class="project--description"
           data-ng-bind-html="project.properties.description">
        </p>
      </div>
    </div>
    </section>

    <section class="front--cta">
      <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
          <h1>
            Need help?
          </h1>
        </div>
      </div>
      <div class="row lead">
        <div class="col-xs-12 col-sm-8 col-md-8 col-lg-8">
          <p>
            If you have a design system, platform, or API-based project that you are
            interested in starting and need an experienced product designer or API
            specialist, <a href="mailto:joshuaisaacpowell@gmail.com">send me an email</a>.
          </p>
        </div>
      </div>
    </section>
  </article>

</main>

<div data-ng-include="'/templates/footer--view.html'"></div>
