<div data-ng-include="'/templates/header--view.html'"></div>

<main class="container-fluid container-enter">

  <div class="row">
    <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
      <h1>
        Hello there
      </h1>
    </div>
  </div>
  <div class="row lead">
    <div class="col-xs-12 col-sm-9 col-md-9 col-lg-9">
      <p>
        I’m a digital platform designer, and software engineer, focusing on
        API-first platform creation.
      </p>
      <p>
        I currently lead product design and engineering at Viable, where we
        build API-first location based platforms that fuel smarter decision making.
      </p>
    </div>
  </div>

  <div class="row">
    <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
      <h1>
        Selected Projects
      </h1>
    </div>
  </div>
  <div class="row">
    <div data-ng-repeat="project in page.projects.features track by $index"
         class="projects col-xs-12 col-sm-6 col-md-4 col-lg-4">
      <div class="project--photo">
        <a href="{{ project.properties.link }}">
          <div class="project--photo--source"
               style="background-image: url({{ project.properties.image }});">
            <div class="project--photo--overlay"
                 style="background-color: {{ project.properties.color }};">
            </div>
            <img data-ng-src="{{ project.properties.icon }}"
                 width="192" height="192"
                 alt="Project Call to Action {{ project.properties.name }}"
                 title="View the {{ project.properties.name }} project" />
          </div>
        </a>
      </div>
      <h2>
        <a href="{{ project.properties.link }}"
           class="project--title">
          {{ project.properties.name }}
        </a>
      </h2>
      <p class="project--description">
        {{ project.properties.description }}
      </p>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
      <h1>
        Need help?
      </h1>
    </div>
  </div>
  <div class="row lead">
    <div class="col-xs-12 col-sm-9 col-md-9 col-lg-9">
      <p>
        If you have a design system, platform, or API-based project that you are
        interested in starting and need an experienced product designer or API
        specialist, <a href="mailto:joshuaisaacpowell@gmail.com">
          send me an email
        </a>.
      </p>
    </div>
  </div>

</main>

<div data-ng-include="'/templates/footer--view.html'"></div>
