<div data-ng-include="'/templates/header--view.html'"></div>

<main class="container-fluid container-enter">

  <div class="row">
    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
      <p>
        I am a designer who thinks in code. I have 13 years experience working
        on internal product teams and collaborating with external teams to bring
        products to market. I am now managing an internal product team that
        consistently launches new Software as a Service (SaaS) platforms. I am
        responsible for organizing and implementing design strategies, web and
        mobile applications, and marketing.
      </p>

      <p>
        <strong>Projects</strong>
      </p>

      <ul>
        <li data-ng-repeat="project in page.projects.features track by $index">
          <a href="{{ project.properties.link }}">
            {{ project.properties.name }}
          </a>
        </li>
      </ul>
    </div>
  </div>

</main>

<div data-ng-include="'/templates/footer--view.html'"></div>
