/**
// article.css
//
// @description
//    The typography stylesheet helps us define styles that handle the
//    appearance and positioning of the type used throughtout the site
//
// @overview
//    This stylesheet is written in CSS and compiles all of the styles
//    we use throughout the site.
//
*/


body{
  background-color: #F2F2F2;
  color: #3D3D3D;
  font-family: "aktiv-grotesk", "Helvetica Neue", "Helvetica", Arial, sans-serif;
  font-size: 100.0%;
  margin: 0 auto;
  padding: 0;
}

/**
 * Typography
 */
h1 {
  display: inline-block;
  font-family: "calluna", times, serif;
  font-size: 3.0em;
  font-weight: 100;
  letter-spacing: -0.0125em;
  line-height: 1.2;
  margin: 0;
  padding: 0 0 1em;
  width: 84%;
}

h2 {
  font-family: "aktiv-grotesk", "Helvetica Neue", "Helvetica", Arial, sans-serif;
  font-size: 1em;
  font-weight: 200;
  letter-spacing: 0.25em;
  margin: 0;
  padding: 0;
  text-transform: uppercase;
}

p {
  font-family: "calluna", times, serif;
  font-size: 1.25em;
  font-weight: 400;
  font-style: normal;
  letter-spacing: 0;
  line-height: 1.5;
  margin: 0;
  text-indent: 2em;
}

p.no-indent {
  text-indent: 0;
}

span.its-been-a-really-long-time {
  text-decoration: line-through;
}

hr {
  border: none;
  border-top: 1px solid #E5E5E5;
  margin: 2em -1em;
}


/**
 * Hyperlinks
 */
a,
a:active,
a:hover,
a:link,
a:visited {
  color: #FF4B37;
  text-decoration: underline;
}

  a.quiet {
    color: inherit;
  }

a:hover {
  text-decoration: none;
}


/**
 *
 */
main {
  margin: 0 3em;
}

.site--header {
  background-color: transparent;
  margin: 0 auto;
  max-width: 48em;
  padding: 1em 0;
}

.site--footer {
  background-color: #FBFBFB;
  margin: 0 auto 5em;
  max-width: 48em;
  padding: 5em 3em 3em;
}

.site--footer p {
  color: #4A4A4A;
  font-family: "aktiv-grotesk", "Helvetica Neue", "Helvetica", Arial, sans-serif;
  font-size: 0.75em;
  font-weight: 300;
  margin: 0 0 1.5em;
  max-width: 60%;
  text-indent: 0;
}

.content {
  background-color: #FFFFFF;
  margin: 0 auto;
  max-width: 48em;
  padding: 5em 3em 3em;
}


/**
 * Highlighted/Embedded Code Examples
 */
.gist .gist-meta {
  display: none !important;
}
