/**
// main.scss
//
// @description
//    The typography stylesheet helps us define styles that handle the
//    appearance and positioning of the type used throughtout the site
//
// @overview
//    This stylesheet is written in SASS(1) and compiles all of the styles
//    we use throughout the site.
//
// @see (1) http://sass-lang.com/documentation/file.SASS_REFERENCE.html
//
*/

body{
  background-image: url("/static/images/background.jpg");
  background-size: cover;
  background-position: center center;
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-color: #F2F2F2;
  color: #3D3D3D;
  font-family: "aktiv-grotesk", helvetica, arial, sans-serif;
  font-size: 80.0%;
  margin: 0 auto;
  padding: 0;
}

/**
 * Typography
 */
h1 {
  font-size: 1.5em;
  font-weight: 600;
  margin-bottom: 0;
  padding-bottom: 0;
}

h2 {
  font-size: 1.3125em;
  font-weight: 300;
  margin-top: 0;
  padding-top: 0;
}

p {
  font-family: "calluna", times, serif;
  font-size: 1em;
  line-height: 1.5;
}

span.its-been-a-really-long-time {
  text-decoration: line-through;
}


/**
 * Hyperlinks
 */
a,
a:active,
a:hover,
a:link,
a:visited {
  color: #0D82C6;
  text-decoration: underline;
}

a:hover {
  text-decoration: none;
}


/**
 * Layout
 */
main {
  display: flex;
  flex-flow: row wrap;
  justify-content: flex-start;
  width: 100%;
}

article {
  background-color: #F2F2F2;
  flex: 1 50%;
  margin: 2em;
  max-width: 22em;
  min-width: 16em;
  padding: 2em 4em;
}

@media screen and (max-width: 25.875em) {
  article {
    margin: 1em;
    max-width: 100%;
    min-width: auto;
    padding: 1em 2em;
    width: 100%;
  }
}
