<div data-ng-if="$root.notifications && $root.notifications.objects.length" class="notifications">

  <p class="text-center">
    <a href="javascript:void(0);" data-ng-click="$root.notifications.dismissAll()">
      Dismiss Notifications
    </a>
  </p>

  <div role="alert" class="notify notify-{{ notification.type }} notify-dismissable"
       data-ng-repeat="notification in $root.notifications.objects">
    <strong>{{ notification.title }}</strong> <span>{{ notification.message }}</span>
  </div>

</div>
