/**
 * _content.scss
 *
 * @description
 *    The variables stylesheet helps us define styles that can be used over and
 *    over again throughout the entire site. It helps us define items that occur
 *    multiple times throughout the site, just once, that way we aren't
 *    repeating ourselves.
 *
 * @overview
 *    This stylesheet is written in SASS(1) and compiles all of the styles
 *    we use throughout the site.
 *
 * @see (1) http: *sass-lang.com/documentation/file.SASS_REFERENCE.html
 */


/**
 * Project
 */
.projects {
  list-style: none;
  margin: 0 0 2em;
  padding: 0;
}

.projects:hover img {
  -webkit-animation-duration: 500ms;
  animation-duration: 500ms;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;

  -webkit-animation-name: fadeIn90;
  animation-name: fadeIn90;
}

.project {
}

.project header {
  margin: 2em 0 4em;
}

.project .project--metadata {
  margin: 0 0 2em;
}

.project--photo {
  display: inline-block;
  position: relative;
  max-width: 32em;
  width: 100%;
}

.project--photo a,
.project--photo a:active,
.project--photo a:focus,
.project--photo a:hover,
.project--photo a:link,
.project--photo a:visited {
  color: var(--color--black);
}

.project--photo--source {
  align-items: center;

  background-position: top left;
  background-size: contain;
  background-repeat: no-repeat;

  display: flex;

  height: 32em;
  margin: 0;
  padding: 0;
  position: relative;
  width: 32em;
}

  .project--photo--source .project--photo--overlay {
    height: 100%;
    left: 0;
    opacity: 0;
    position: absolute;
    top: 0;
    width: 100%;
    z-index: 1;

    -webkit-animation-duration: 500ms;
    animation-duration: 500ms;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
  
    -webkit-animation-name: fadeOut90;
    animation-name: fadeOut90;
  }


  .project--photo--source img {
    margin: auto;
    z-index: 2
  }

.project--type {
  font-size: 0.8125em;
  position: absolute;
  bottom: 0;
  right: -26px;
  -webkit-writing-mode: vertical-lr;
}

.project--title,
a.project--title,
a.project--title:active,
a.project--title:focus,
a.project--title:hover,
a.project--title:link,
a.project--title:visited {
  color: var(--color--black);
  display: inline-block;
  font-size: 1.3125em;
  font-weight: 600;
  font-family: var(--font--sans);
  margin-top: 0.8125em;
  text-decoration: none;
}

.project--description {
  max-width: 30em;
}


/**
 *
 */
.transmission {
  align-items: center;
  display: flex;
  justify-content: flex-start;
  flex-direction: row;
  margin: 1.5em 0 2em;
  width: 100%;
}

  .transmission a,
  .transmission a:active,
  .transmission a:focus,
  .transmission a:hover,
  .transmission a:link,
  .transmission a:visited {
    color: var(--color--black);
    font-family: var(--font--sans);
    font-size: 0.75em;
    font-weight: 500;
    text-decoration: none;
  }

  .transmission .mark {
    display: inline-block;
    flex: 0 0;
    flex-basis: 50%;
  }

  .transmission .proverb {
    margin-left: auto;
    text-align: right;
  }

    .transmission .proverb div {
      background-color: #1A1A1A;
      display: inline-block;
      margin: 0 0 0 -7px;
      height: 24px;
      width: 7px;
    }

      .transmission .proverb div:first-child {
        margin-right: 14px;
      }

      .transmission .proverb div:last-child {
        margin-left: 56px;
      }

.caret {
  width: 0;
  height: 0;

  display: inline-block;
  vertical-align: top;
  margin: 4px 4px 0 0;
}

  .caret.caret--down {
    border-top: none;
    border-left: 4px solid transparent;
    border-right: 4px solid transparent;
    border-top: 4px solid #212121;
  }

  .caret.caret--up {
    border-top: none;
    border-left: 4px solid transparent;
    border-right: 4px solid transparent;
    border-bottom: 4px solid #212121;
  }

  .caret.caret--left {
    border-left: none;
    border-top: 4px solid transparent;
    border-bottom: 4px solid transparent;
    border-right: 4px solid #212121;
  }

  .caret.caret--right {
    border-right: none;
    border-top: 4px solid transparent;
    border-bottom: 4px solid transparent;
    border-left: 4px solid #212121;
  }

/**
 * siteFooter
 */
.siteFooter {
  margin: 8em 0 4em;
}


/**
 *
 */
.container-front {
}

.container-front header {
  margin: 4em 0 4em;
}

.container-front .front--projects {
  margin: 0 0 4em;
}

.container-front .front--cta {
  margin: 0;
}


/**
 * Process
 */
.kaizen {
  float: right;
  margin: -2em 0 0;
  opacity: 0.15;
  width: 2em;
}
