/**
 * _global.scss
 *
 * @description
 *    The global stylesheet helps us define global box-sizing and body styles
 *    for the entire site.
 *
 *    This stylesheet is written in CSS and does not use a CSS precompiler.
 */


* {
  box-sizing: border-box;
}

body {
    color: rgb(18,18,18);
    background-color: #f9fbfb;

    box-sizing: border-box;

    font-family: var(--font--sans);
    font-size: 100%;

    margin: 0 auto;
    padding: 0;

    width: 100%;
}
