<div data-ng-include="'/templates/header--view.html'"></div>

<main class="container-fluid container-enter container-project">

  <article class="project">
    <header>
      <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
          <h1>
            {{ page.project.properties.name }}
          </h1>
        </div>
        <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
          <p>
            {{ page.project.properties.description }}
          </p>
        </div>
      </div>
    </header>

    <section class="project--metadata">
      <div class="row">
        <div class="col-xs-12 col-sm-6 col-md-3 col-lg-3">
          <h2>
            Expertise
          </h2>
          <p>
            {{ page.project.properties.expertise }}
          </p>
        </div>
        <div class="col-xs-12 col-sm-6 col-md-3 col-lg-3">
          <h2>
            Deliverable
          </h2>
          <p>
            {{ page.project.properties.deliverables }}
          </p>
        </div>
        <div class="col-xs-12 col-sm-6 col-md-3 col-lg-3">
          <h2>
            Timeline
          </h2>
          <p>
            {{ page.project.properties.timeline }}
          </p>
        </div>
        <div class="col-xs-12 col-sm-6 col-md-3 col-lg-3">
          <h2>
            Platform
          </h2>
          <p>
            {{ page.project.properties.platform }}
          </p>
        </div>
      </div>
    </section>
    <section class="project--casestudy">
      <div class="row">
        <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
          <div data-ng-bind-html="page.project.properties.body"></div>

          <p>
            <strong>Exit</strong><br />
            {{ page.project.properties.exit }}
          </p>
        </div>
        <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
          <picture>
            <img data-ng-src="{{ page.project.properties.image.retina }}"
                 width="100%" />
          </picture>
          <!-- <div class="project--photo">
            <div class="project--photo--source"
                 style="background-image: url({{ page.project.properties.image.retina }});">
              <div class="project--photo--overlay"
                   style="background-color: {{ page.project.properties.color }};">
              </div>
              <img data-ng-src="{{ page.project.properties.icon }}"
                   width="192" height="192"
                   alt="Project Call to Action {{ page.project.properties.name }}"
                   title="View the {{ page.project.properties.name }} project" />
            </div>
          </div> -->
        </div>
      </div>
    </section>
  </article>

</main>

<div data-ng-include="'/templates/footer--view.html'"></div>
