<div data-ng-include="'/templates/header--view.html'"></div>

<main class="container-fluid container-enter container-project">

  <article>
    <header>
      <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
          <h1>
            {{ page.project.properties.name }}
          </h1>
        </div>
        <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
          <h1>
            {{ page.project.properties.description }}
          </h1>
        </div>
      </div>
    </header>

    <section>
      <div class="row">
        <div class="col-xs-12 col-sm-3 col-md-3 col-lg-3">
          <h2>
            Expertise
          </h2>
          <p>
            {{ page.project.properties.expertise }}
          </p>
        </div>
        <div class="col-xs-12 col-sm-3 col-md-3 col-lg-3">
          <h2>
            Deliverable
          </h2>
          <p>
            {{ page.project.properties.deliverables }}
          </p>
        </div>
        <div class="col-xs-12 col-sm-3 col-md-3 col-lg-3">
          <h2>
            Timeline
          </h2>
          <p>
            {{ page.project.properties.timeline }}
          </p>
        </div>
        <div class="col-xs-12 col-sm-3 col-md-3 col-lg-3">
          <h2>
            Platform
          </h2>
          <p>
            {{ page.project.properties.platform }}
          </p>
        </div>
      </div>
      <div class="row">
        <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
          <div data-ng-bind-html="page.project.properties.body"></div>

          <p>
            <strong>Exit</strong><br />
            {{ page.project.properties.exit }}
          </p>
        </div>
        <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
          {{ page.project.properties.icon }}
          {{ page.project.properties.image }}
        </div>
      </div>
    </section>
  </article>

</main>

<div data-ng-include="'/templates/footer--view.html'"></div>
