<div class="container-fluid">
  <header class="siteHeader">
    <div class="row">
      <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
        <div class="transmission">
          <a href="/"
             class="mark">
            <img src="/images/logo.svg" alt="" title="" width="32" height="32" />
          </a>

          <div class="proverb mark">
            <div class="mannaz"></div>
            <div class="naupiz"></div>
            <div class="inguz"></div>
            <div class="ansuz"></div>
          </div>
        </div>
      </div>
    </div>

  </header>
</div>
