{% extends 'default.html' %}

{% set page = page %}

{% block content %}

<article class="front">
  <header>
    <div class="row center-xs">
      <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6 align-left">
        <h1>
          👋 Hello there
        </h1>
      </div>
    </div>
    <div class="row lead center-xs">
      <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6 align-left">
        <p>
          I'm Joshua Powell, a designer and technologist. I have ten years of experience building and leading teams responsible for the architecture, design, and engineering of software and distributed systems. 
        </p>
        <p>
          I was most recently a User Experience Manager for Honeywell Robotics. Our work focused on designing for industrial AI, robotics, and voice products. I served as Director of a digital creative studio for six years and before that Director of a small digital consultancy.
        </p>
        <p></p>
        <p>
          <a href="https://www.linkedin.com/in/joshuaisaacpowell/" target="_blank" rel="noreferrer">LinkedIn</a> <a href="https://github.com/joshuapowell" target="_blank" rel="noreferrer">Github</a> <a href="https://dribbble.com/joshuapowell" target="_blank" rel="noreferrer">Dribbble</a> <a href="mailto:joshuaisaacpowell@gmail.com" target="_blank" rel="noreferrer">Email</a>
        </p>
      </div>
    </div>
  </header>

</article>

{% endblock %}