{% extends 'default.html' %}

{% set page = page %}

{% block content %}

<article class="front">
  <header>
    <div class="row">
      <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
        <h1>
          👋 Hello there
        </h1>
      </div>
    </div>
    <div class="row lead">
      <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
        <p>
          I’m Joshua Powell. I design and engineer user experiences that enable humans to connect with data, devices, and other humans.
        </p>
        <p>
          I’m currently a Product Engineer at Broadcom and was previously Manager of Experience Design at Honeywell Robotics. I’ve helped dozens of organizations create distributed product platforms that make their teams more efficient, more productive, and help them realize new revenue streams.
        </p>
        <p>
          <a href="https://www.linkedin.com/in/joshuaisaacpowell/" target="_blank" rel="noreferrer">LinkedIn</a> <a href="https://github.com/joshuapowell" target="_blank" rel="noreferrer">Github</a> <a href="https://dribbble.com/joshuapowell" target="_blank" rel="noreferrer">Dribbble</a>
      </div>
    </div>
  </header>

</article>

{% endblock %}