{% extends 'default.html' %}

{% set page = page %}

{% block content %}

<article class="project">
    <header>
      <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
          <h1>
            {{ page.project.properties.name }}
          </h1>
        </div>
      </div>
    </header>

    <section class="project--casestudy">
      <div class="row">
        <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
          {{ page }}
        </div>
      </div>
    </section>    
  </article>

{% endblock %}