{% extends 'default.html' %}

{% set page = page %}

{% block content %}

<article class="project">
    <header>
      <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
          <h1>
            {{ page.project.properties.name }}
          </h1>
        </div>
        <!-- <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
          <p>
            {{ page.project.properties.description | safe }}
          </p>
        </div> -->
      </div>
    </header>

    <!-- <section class="project--metadata">
      <div class="row">
        <div class="col-xs-12 col-sm-6 col-md-3 col-lg-3">
          <h2>
            Expertise
          </h2>
          <p>
            {{ page.project.properties.expertise }}
          </p>
        </div>
        <div class="col-xs-12 col-sm-6 col-md-3 col-lg-3">
          <h2>
            Deliverable
          </h2>
          <p>
            {{ page.project.properties.deliverables }}
          </p>
        </div>
        <div class="col-xs-12 col-sm-6 col-md-3 col-lg-3">
          <h2>
            Timeline
          </h2>
          <p>
            {{ page.project.properties.timeline }}
          </p>
        </div>
        <div class="col-xs-12 col-sm-6 col-md-3 col-lg-3">
          <h2>
            Platform
          </h2>
          <p>
            {{ page.project.properties.platform }}
          </p>
        </div>
      </div>
    </section>
    <section class="project--casestudy">
      <div class="row">
        <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
          {{ page.project.properties.body | safe }}

          <p>
            <strong>Exit</strong><br />
            {{ page.project.properties.exit }}
          </p>

          <a href="{{ page.project.properties.dribbble }}" target="_blank"
             rel="noreferrer"
             class="button">
            View Project on Dribbble
          </a>
        </div>
        <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
          <picture>
            <img src="{{ page.project.properties.image.retina }}"
                 alt="{{ page.project.properties.title }} project photo"
                 width="100%" />
          </picture>
        </div>
      </div>
    </section> -->

    <section class="project--casestudy">
      <div class="row">
        <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
          {{ page }}
        </div>
      </div>
    </section>    
  </article>

{% endblock %}